datasets
.ipynb*
.DS_Store
.root
.npz
.vscode/settings.json
classifier/.vscode/settings.json
classifier/Plots*
classifier/Models*
regression/Plots*
regression/Models*
._*
.venv*
util/__pycache__/__init__.cpython-36.pyc
util/__pycache__/ml_util.cpython-36.pyc
util/__pycache__/plot_util.cpython-36.pyc
util/__pycache__/resolution_util.cpython-36.pyc
