datasets
.ipynb*
.DS_Store
.root
.npz
.vscode/settings.json
classifier/.vscode/settings.json
#classifier/Plots*
#classifier/Models*
regression/Plots*
#regression/Models*
._*
.venv*
#util/__pycache__/*.pyc

# don't copy local setup stuff
setup/**/*.gz
setup/fastjet/fastjet-src/
setup/fastjet/fj-contrib-src/
setup/fastjet/fastjet-install/

# don't copy data
data/*.root
data/**/*.root
jets/data
jets/training
jets/cluster_data
classifier_u/data
regression_u/data

# don't copy pycaches
**/__pycache__

## NOTEBOOKS ##
# CLUSTERS
# clusters/Benchmarking_Testing.ipynb
clusters/Regression_Plots/
clusters/Plots/

# SEGMENTATION
segmentation/Plots/
segmentation/Model_Building.ipynb
segmentation/results/*.npz
segmentation/Models/

# REGRESSION
regression/Regression_Plots/
regression/results/*.npz
regression/models/
regression/training_output/

# VISUALIZATION
visualization/Plots/

